{% extends 'web/base.html' %} {% load static %} 
{% block title%}history{%endblock title %} 
{% block history_active %}current{% endblock history_active %} 
{%block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link rel="stylesheet" href="{% static 'css/history.css' %}" />
{% endblock head %} {% block body %}

<div class="page">
  <div class="heading-history">
    <h2>Recent Activities</h2>
  </div>
  <div class="filters">
    <form action="">
      <input type="search" required />
      <button type="submit" class="submit">
        <img
          src="{% static '' %}img/search-interface-symbol.png"
          alt=""
          class="search"
        />
      </button>
    </form>
  </div>
  <div class="table">
    <table id="myTable">
      <thead>
        <tr>
          <th onclick="sortTable(0)">
            Id <img src="{% static '' %}img/arrow-up.png" alt="" /><img
              src="{% static '' %}img/down-filled-triangular-arrow.png"
              alt=""
            />
          </th>
          <th onclick="sortTable(1)">
            Machine Name
            <img src="{% static '' %}img/arrow-up.png" alt="" /><img
              src="{% static '' %}img/down-filled-triangular-arrow.png"
              alt=""
            />
          </th>
          <th onclick="sortTable(2)">
            Test Date <img src="{% static '' %}img/arrow-up.png" alt="" /><img
              src="{% static '' %}img/down-filled-triangular-arrow.png"
              alt=""
            />
          </th>
          <th onclick="sortTable(3)">
            Overall Status
            <img src="{% static '' %}img/arrow-up.png" alt="" /><img
              src="{% static '' %}img/down-filled-triangular-arrow.png"
              alt=""
            />
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody></tbody>
  
    </table>
  </div>
</div>
{% endblock body %} {% block script %}
<script>
  let data = "{{records|escapejs}}";
  let records = JSON.parse(data);
  for (i in records) {
    let r1 = `<tr>`+ 
              `<td id="record_${records[i]["pk"]}">${records[i]["pk"]}</td>`+
              `<td>${records[i]["fields"]["machine_name"]}</td>`+
              `<td>${records[i]["fields"]["timestamp"]}</td>`+
              `<td>${records[i]["fields"]["predictions"][0][0] }</td>`+
              `<td><img src="{% static '' %}img/more.png" alt="" class="delete" /></td>`+
              `</tr>`;

    $("#myTable tbody").append(r1);
    console.log();
  }
</script>
<script src="{% static '' %}js/history.js"></script>
<script src="{% static '' %}./js/navigation.js"></script>
{% endblock script %}
